<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Welcome to ElectroStore</h1>
  <ul>
    {{#each products}}
      <li>{{name}} - {{price}}</li>
    {{/each}}
  </ul>
</body>
</html>
